body{
  font-family: Roboto Slab ,sans-serif;
  margin:0;
  padding:0;
}

/*Первый экран*/
header{
  height:1104px;
  background-image: url("/img/1.png");


}
.container{
  padding:0;
  margin:0;
  margin:0 auto;
  width:980px;
  /* border:2px solid silver; */

}
.head{
  background-image: url("/img/деревянный фон.png");
  height:170px;
  margin-left:39px;
  margin-right:39px;
  border-radius:20px;
  box-shadow:0 0 100px rgb(28, 28, 25);
}
.first__slide{
  display:flex;
}
.container__logo{
  margin-top:15px;
  display:block;

}
.menu {
  display:flex;
  padding:0;
  margin-top:60px;

}
.menu li{
  margin-right:26px;
  display:block;
}
.menu li a{
  text-decoration: none;
  font-size:24px;
  color:#392918;
  font-weight:bold;

}
.menu-text{

  background-color: #37230e;
  padding:13px;
  border-radius:10px;
}
.menu-text__color{
  color:#d98d3e;
}
.basket{
  margin-top:33px;
}
.itoho {
  padding:0;
  margin-left:20px;
}
.itoho li{
  display: block;
  color:#4a341d;
  line-height: 0.6;
  font-size: 24px;
  font-weight: bold;
}
.order{
font-size: 20px;
  text-decoration: none;
  color:#fff;
  background:#ee1a1a;
padding:6px 18px 6px 18px;
  border-radius:9px;
  font-weight: normal;

margin-top:-5px;
  margin-left:18px;
  box-shadow:0px 3px 15px rgb(75, 42, 24);
}
/*Конец шапки*/
.pizza_text{
  margin-top:69px;
  color:rgb(237, 217, 227);
  font-size: 78px;

}
.first-img{
  display:flex;
  justify-content: space-around;
  margin-left:27px;
  margin-right:27px;
  margin-top:128px;
}
.superiority h3{
  text-align: center;
  color: rgb(237, 217, 227);
  font-size:32px;
}
.up{
  margin-top: 80px;
}
.two{
  margin-top:71px;

}
.two-button{
  font-size: 20px;
    text-decoration: none;
    color:#fff;
    background:#ee1a1a;
  padding:13px 27px 13px 27px;
    border-radius:5px;
    font-weight: normal;
    box-shadow:0px 0px 20px rgb(75, 42, 24);
}
/*Конец первого экрана*/




/*Начало особенности*/
.features{
  margin:0;
  padding:0;
  height:667px;
  width:100%;
  display:flex;
  margin-bottom: 0;
/* box-shadow:0 0 60px rgb(24, 23, 18); */

}
.features__text{
  background-image:url("/img/особенности-узор.png");
  height:667px;
  width:1056px;
}
.features__img{
  background-image: url("/img/особенности.png");
  height:667px;
width:742px;
}
.features__text__main{
float:right;
margin-right:90px;
margin-top: -20px;

}
.features-h3{
  font-size:45px;
  color:rgb(209, 201, 167);


}
.features__text__main__lorem{
  padding:0;
  margin:0;
  overflow:hidden;
  width:538px;
  height:390px;
font-size:31px;
color:#392918;
  margin-top:-40px;

}
/*Конец особенности*/




/*Начало меню*/
.menu-pizza{
  height:1445px;
  width:100%;
  background:#e9c9c9;
  padding:0;
  margin:0;
  border:2px solid #e9c9c9;
}
.menu-pizza__title {
  font-size: 40px;
  color: #6a4014;


}

.first-menu{
background: url("/img/первое меню.png");
width:265px;
height:394px;
overflow:hidden;
border-radius:15px;
}
.first-menu__img{
float:right;
margin-top:9px;
margin-left: 9px;

}
.first-menu__text{
margin-top: -20px;
margin-left: 16px;

  padding:0;
}
.first-menu__text h1{
  font-size:20px;
  text-align: center;
}
.first-menu__text p{
line-height:0.3;
font-size:20px;

}
.first-menu__text i{
float:left;
}
.detail{
  font-size:18px;
  margin-top:0;
    margin-left:0;
    float:right;
    margin-top:10px;
    margin-right:10px;
}
